body {
background-color:#272727;
overflow-x: hidden;
overflow-y: auto;
font-family: 'Roboto', sans-serif;
color: #6a92d4;
}

h1 {
text-align: center;
color:#6A92D4;
padding-top: 2%;
}

h2 {
color:#6A92D4;
margin-bottom: 5px;
}

a {
  color: #8db2f0;
}

a:visited, a:active, a:hover {
  color: white;
}

table{
width:100%;
border-collapse:collapse;
table-layout:auto;
vertical-align:top;
border:1px solid #999999;
}

table thead th{
color:#FFFFFF;
background-color:#000000;
border:1px solid #999999;
border-collapse:collapse;
text-align:center;
table-layout:auto;
vertical-align:middle;
}

table tbody td{
border-collapse:collapse;
border-left:1px solid #999999;
border-right:1px solid #999999;
}

table thead th, table tbody td{
padding:5px;
border-collapse:collapse;
}

td {
text-align: center;
}

table tbody tr{
color:#CCCCCC;
background-color:#333333;
}


.logTable td {
text-align: left;
}

.mainDiv {
padding-left: 5%;
padding-right: 5%;
margin-left: 5%;
margin-right: 5%;
}

.logDiv {
border: 1px solid #CCC;
overflow-y: scroll;
overflow-x: hidden;
height: 35%;
}
